header {
    background-color: white;
    padding: 30px;
}

h1 {
    line-height: 30px;
    font-size: 50px;
    color: black;
    text-shadow: 3px 2px 1px #979fa1;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    -webkit-box-shadow: 2px 6px 17px -4px rgba(0,0,0,0.84); 
    box-shadow: 2px 6px 17px -4px rgba(0,0,0,0.84);
}

p {
    color:  black;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

h2 {
    background-color: #f5f5f500;
    padding: 10px;
    font-size: 24px;
    color :white;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    background-color: white;
    padding: 30px;
    color: black;
    text-shadow: 3px 2px 1px #979fa1;
    font-size:30px
}